<!DOCTYPE html>
<html lang="{{ $.Site.Language }}">
<head>
    {{ block "title" . }}
        <title>{{ if .IsHome }}{{ $.Site.Title }}{{ with $.Site.Params.Subtitle }} | {{ . }}{{ end }}{{ else }}{{ "Projects" }} | {{ $.Site.Title }}{{ with $.Site.Params.Subtitle }} | {{ . }}{{ end }}{{ end }}</title>
    {{ end }}
    {{ partial "head.html" . }}
    <link rel="stylesheet" href="{{ "css/scroll.css" | absURL }}">
</head>
<body class="{{ if ne $.Site.Params.defaultTheme "light" -}} dark-theme {{- end -}}">
<div class="container">
    {{ partial "header.html" . }}

    <div class="content">
        <div class="panel-first panel">
            <div>
                <h1>Projects</h1>
                <h2>Here are some personal projects that I have worked on</h2>
            </div>
        </div>
        <div class="panel" data-color="green">
            <div class="colored-panel">
                {{< image src="/img/MikuBotIconSmall.png" alt="MikuBot" position="center" style="border-radius: 8px;" >}}
                <h1>MikuBot</h1>
                <h2>Modular anime Discord bot built for weebs</h2>
                <a class="github-button" href="https://github.com/darenliang/MikuBot" data-size="large" aria-label="Visit darenliang/MikuBot on GitHub">MikuBot</a>
            </div>
        </div>
        <div class="panel" data-color="violet">
            <div class="colored-panel">
                {{< image src="/img/chat.png" alt="decentralized-chat" position="center" style="border-radius: 8px;" >}}
                <h1>decentralized-chat</h1>
                <h2>Decentralized chat web app using WebRTC</h2>
                <a class="github-button" href="https://github.com/darenliang/decentralized-chat" data-size="large" aria-label="Visit darenliang/decentralized-chat on GitHub">decentralized-chat</a>
            </div>
        </div>
        <div class="panel" data-color="blue">
            <div class="colored-panel">
                {{< image src="/img/golang_calc.png" alt="gomatheval" position="center" style="border-radius: 8px;" >}}
                <h1>gomatheval</h1>
                <h2>Simple math expression evaluator in Go</h2>
                <a class="github-button" href="https://github.com/darenliang/gomatheval" data-size="large" aria-label="Visit darenliang/gomatheval on GitHub">gomatheval</a>
            </div>
        </div>
        <div class="panel" data-color="dark-blue">
            <div class="colored-panel">
                {{< image src="/img/jikan_api_small.png" alt="jikan-go" position="center" style="border-radius: 8px;" >}}
                <h1>jikan-go</h1>
                <h2>Go bindings for Jikan API</h2>
                <a class="github-button" href="https://github.com/darenliang/jikan-go" data-size="large" aria-label="Visit darenliang/jikan-go on GitHub">jikan-go</a>
            </div>
        </div>
        <div class="panel" data-color="dark-blue">
            <div class="colored-panel">
                {{< image src="/img/mal.png" alt="mal-api" position="center" style="border-radius: 8px;" >}}
                <h1>mal-api</h1>
                <h2>MyAnimeList web scraper API</h2>
                <a class="github-button" href="https://github.com/darenliang/mal-api" data-size="large" aria-label="Visit darenliang/mal-api on GitHub">mal-api</a>
            </div>
        </div>
        <div class="panel" data-color="orange">
            <div class="colored-panel">
                {{< image src="/img/pokeball.png" alt="pokemonapi" position="center" style="border-radius: 8px;" >}}
                <h1>pokemonapi</h1>
                <h2>RESTful Pokemon API server in Go</h2>
                <a class="github-button" href="https://github.com/darenliang/pokemonapi" data-size="large" aria-label="Visit darenliang/pokemonapi on GitHub">pokemonapi</a>
            </div>
        </div>
        <div class="panel" data-color="burgundy">
            <div class="colored-panel">
                {{< image src="/img/ttt.png" alt="tictactoe_rust" position="center" style="border-radius: 8px;" >}}
                <h1>tictactoe_rust</h1>
                <h2>Tictactoe engine in Rust using minimax</h2>
                <a class="github-button" href="https://github.com/darenliang/tictactoe_rust" data-size="large" aria-label="Visit darenliang/tictactoe_rust on GitHub">tictactoe_rust</a>
            </div>
        </div>
    </div>

    {{ block "footer" . }}
        {{ partial "footer.html" . }}
    {{ end }}
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="{{ "js/scroll.js" | absURL }}"></script>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</div>

{{ if $.Site.GoogleAnalytics }}
    {{ template "_internal/google_analytics.html" . }}
{{ end }}
</body>
</html>
